$primary-color: #038242;

.container {
  max-width: 100% !important;
}

* {
  box-sizing: border-box;
}

body {
  background-color: $primary-color !important;
  font-family: 'Caveat', cursive !important;

}