$color: (
  blue
);

:root {
  background-color: lightgray;
}

.main-view {
  color: tan;
}

.movie-card {
  background-color: tan;
  cursor: pointer;
}

.movie-view {
  background-color: tan;
}

.login-view {
  background-color: tan;
  display: grid;
}

form {
  background-color: rgb(104, 100, 100);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
}

form label {
  padding: .5em;
}